[package]
name = "serial-multiplexer"
authors = ["Valentín Bolfík <valentin.bolfik@gmail.com>"]
version = "0.3.0"
edition = "2024"

[dependencies]
anyhow = "1.0.98"
async-channel = "2.3.1"
bytes = "1.10.1"
clap = { version = "4.5.37", features = ["derive"] }
config = { version = "0.15.11", default-features = false, features = ["toml"] }
fast-socks5 = "1.0.0-rc.0"
flatbuffers = "25.2.10"
futures = "0.3.31"
memchr = "2.7.4"
tokio = { version = "1.45.0", features = ["full"] }
tokio-serial = "5.4.5"
tokio-util = "0.7.15"
tracing = "0.1.41"
tracing-appender = "0.2.3"
tracing-attributes = "0.1.28"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
zeroize = "1.8.1"
