name: Run tests on Linux x86_64
on:
  workflow_call:
  push:

jobs:
  test-linux:
    name: "Tests on Linux"
    runs-on: ubuntu-latest
    steps:
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
            ${{ runner.os }}-cargo-
      - uses: actions/checkout@v4
      - name: Update rust
        run: rustup update
      - name: Run tests
        run: cargo test --all